<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_1_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第1章 課題

## 課題1

print関数を使って自分の情報を表示させる

＜実行例＞ `b1998040 Chitose Taro`

In [ ]:
# 入力用

## 課題2

int型変数`student_number`に学籍番号の数値の部分を代入し、  
自分の情報を表示させる

＜実行例＞ `b1998040 Chitose Taro`

＜hint＞ 3通りあるはずです。

In [ ]:
# 入力用

## 課題3

10から2800まで、10飛ばしの数を乱数で生成し、  
2220000に足して、名前とともに表示させる

＜実行例＞ `b2220010 Chitose Taro`

In [ ]:
# 入力用