<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/text/PythonBasic_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章

## コレクション
関連するデータをグループにして、まとめて1つの変数として扱う仕組みを**データ構造**といいます。  
Pythonでは、**コレクション**または**コンテナ**と呼ばれます。  

Pythonには**リスト**、**タプル**、**ディクショナリ**、**セット**の4つがあります。

## リスト
**リスト**とは、複数の値を1列に並べて管理するためのコレクションです。  
-  リストに含まれているそれぞれの値を**要素**といい、データを格納できる。
-  リストの各要素には番号がついている。  
この要素の番号を**添え字**（**index**）といい、**0から始まる**決まりになっている。  
`例：要素が5つあるリストでは、5番という添え字の要素はない`

In [1]:
test = []  # 空のリストです
print(type(test))

<class 'list'>

### リストの作成
Pythonでは、変数が型を持たないように、リストにも型の定めはありません。  
1つのリストに対して、文字列や数字など、異なるデータ型の値を格納できます。  

![pp_03_1.png]()

3つの学科のリストを作ってまとめて表示してみましょう。

In [2]:
gakka = ["Ouka","Denshi","Josisu"]
print(gakka)

['Ouka', 'Denshi', 'Josisu']

### リストの要素の参照  
リスト内の特定の要素を参照することもできます。  

![pp_03_2.png]()

以下のコードは、リストの1番目の要素を表示するプログラムです。

In [3]:
gakka = ["Ouka","Denshi","Josisu"]
print(gakka[1])

Denshi

負の数を指定すると、末尾からの順番で指定することもできます。

In [4]:
print(gakka[-1])

Josisu

for文を組み合わせることで、簡単にすべての中身を表示するプログラムを書けます。

In [5]:
for p in gakka:
    print(p)

Ouka
Denshi
Josisu

### リスト内の合計と要素数の取得

Pythonには、リストなどのデータの集まりに対して、いくつかの命令が準備されています。  
合計を求めるためには**sum関数**を使います。  

  
※リストのすべての要素を合計した値に置き換わる  
※文字列を格納しているリストには使えない

各学科の人数の合計を求めてみましょう。

In [6]:
ninzuu = [75,99,94]
total = sum(ninzuu)
print(f"合計人数は{total}人です")

合計人数は268人です

平均を求める関数はありません。  
しかし、リストの要素数で合計を割ることで平均値を求めることができます。   
**len関数**を使います。

In [7]:
total = sum(ninzuu)
ave = total / len(ninzuu)
print(f"平均人数は{ave}人です")

平均人数は89.33333333333333人です

### enumerate関数
**enumerate関数**を使うことで、リストの中身と要素番号を同時に取得できます。

以下のコードは、リストの中身と要素番号を同時に取得するプログラムです。

In [8]:
gakka = ["Ouka","Denshi","Josisu"]
for i,p in enumerate(gakka):
    print(i,p)

0 Ouka
1 Denshi
2 Josisu

### リスト型のメソッド  
作成したリストの要素を追加したり削除したりできます。  
[こちら](https://www.javadrive.jp/python/list/)のページには紹介していないメソッドもあります。

#### 要素のカウント

**`count`メソッド**を使うと、リストの中の指定の要素数を数えることができます。

In [9]:
university = ["Hokudai","Hokudai","Hokudai","Hokudai","Hokudai",
              "Hokudai","Chitose","Chitose","Chitose","Muroran"]
print(university.count("Hokudai"))

6

#### 要素の追加

作成したリストに要素を追加するには、**`append`メソッド**を使います。  
リストの末尾に値が追加されます。

以下のコードは、リスト`university` に要素`Hakodate`を追加しているプログラムの例です。

In [10]:
university = ["Chitose","Hokudai","Muroran"]
print(university)
university.append("Hakodate")
print(university)

['Chitose', 'Hokudai', 'Muroran']
['Chitose', 'Hokudai', 'Muroran', 'Hakodate']

この`append`メソッドとfor文を応用すると、以下のようなリストの作成ができます。

In [11]:
# 空のリストを作成する
s = []

# for文とappend()でリストの中身を追加する
for i in range(5):
    s.append(i)

# 結果の確認
print(s)

[0, 1, 2, 3, 4]

**`insert`メソッド**を使えば、場所を指定して要素を追加できます。

以下のコードは、リスト`university` の2番目に要素`Hakodate`を追加しているプログラムの例です。

In [12]:
university = ["Chitose","Hokudai","Muroran"]
print(university)
university.insert(2,"Hakodate")
print(university)

['Chitose', 'Hokudai', 'Muroran']
['Chitose', 'Hokudai', 'Hakodate', 'Muroran']

#### 要素の削除


**`pop`メソッド**を使うと、インデックスを指定して要素を削除できます。

以下のコードは、リストsから要素10を削除するプログラムです。

In [13]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
print(university)

university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
university.pop(2)
print(university)  # 2番目の要素を削除

university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
university.pop()
print(university)   # 最後の要素を削除

['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
['Chitose', 'Hokudai', 'Muroran']
['Chitose', 'Hokudai', 'Hakodate']

**`remove`メソッド**を使うと、オブジェクトを指定して要素を削除できます。

In [14]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
print(university)
university.remove('Hakodate')  # "Hakodate"を削除
print(university)

['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
['Chitose', 'Hokudai', 'Muroran']

同じオブジェクトが2回出てくると、最初にヒットする方だけ削除されます。

**`clearメソッド`**を使うと、リスト内の要素をすべて削除できます。

In [15]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
print(university)
university.clear()  # リスト内の要素を全削除
print(university)

['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
[]

#### リストの複製

リスト変数を代入しても、リストを複製することができません。

In [16]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
university2 = university
print(f"1:{university}\n2:{university2}")  # 複製できているように見えるが…

university2.remove('Hakodate')  # university2の要素"Hakodate"を削除
print(f"\n1:{university}\n2:{university2}")  # universityの要素も変更されている…

1:['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
2:['Chitose', 'Hokudai', 'Hakodate', 'Muroran']

1:['Chitose', 'Hokudai', 'Muroran']
2:['Chitose', 'Hokudai', 'Muroran']

原因としては、2つの変数に同じオブジェクトIDが代入されているからです。

In [17]:
print(f"1:{id(university)}\n2:{id(university2)}")

1:140580211565888
2:140580211565888

**`copy`メソッド**か**list関数**を使うと、別のリストを生成することができます。

In [18]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
print(university)

university2 = university.copy()
university2.remove('Hakodate')  # university2の要素"Hakodate"を削除
print(university2)

university3 = list(university)
university3.remove('Hakodate')  # university2の要素"Hakodate"を削除
print(university3)

['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
['Chitose', 'Hokudai', 'Muroran']
['Chitose', 'Hokudai', 'Muroran']

#### リストのソート（昇順・降順）
**`sort`メソッド**を使うと、リストの要素を並び替えることができます。    

※引数を省略した場合は**昇順**での並び替え  
※引数に**`reverse=True`**を指定した場合は**降順**での並び替え

In [19]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
print(university)

university2 = university.copy()
university2.sort()  # 昇順（アルファベット順）に並び替え
print(university2)

university3 = list(university)
university3.sort(reverse=True)  # 降順（アルファベット順）に並び替え
print(university3)

['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
['Chitose', 'Hakodate', 'Hokudai', 'Muroran']
['Muroran', 'Hokudai', 'Hakodate', 'Chitose']

**sorted関数**を使うことでも並び替えは可能です。    
`sort`メソッドとは違い、新しいリストオブジェクトが生成されます。

In [20]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
print(university)
print(sorted(university))  # 昇順（アルファベット順）に並び替え
print(sorted(university,reverse=True))  # 降順（アルファベット順）に並び替え

['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
['Chitose', 'Hakodate', 'Hokudai', 'Muroran']
['Muroran', 'Hokudai', 'Hakodate', 'Chitose']

リストの中に数値や文字列が混在していた場合は、並び替えはできません。

 #### リストの結合

**" + "** 演算子を使うと、リストを結合することができます。

 以下のコードは、リストs2をリストs1に結合するプログラムです。

In [21]:
gakka_2022 = [75,99,94]
gakka_2021 = [80,83,90]
gakka = gakka_2022 + gakka_2021
print(gakka)

[75, 99, 94, 80, 83, 90]

**`extend`メソッド**を使っても同様のことができます。  
結合したいリストを引数にとります。

In [22]:
gakka_2022 = [75,99,94]
gakka_2021 = [80,83,90]
gakka_2022.extend(gakka_2021)
print(gakka_2022)

[75, 99, 94, 80, 83, 90]

#### joinとsplit

文字列の**`join`メソッド**を使うと、文字列のリストを一つの文字列に連結できます。  
このとき、結合する際の区切り文字を指定できます。

In [23]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']

text = " ".join(university)  # 空白で文字列を区切る
print(text)

text = "\\".join(university)  # "\"で文字列を区切る
print(text)

Chitose Hokudai Hakodate Muroran
Chitose\Hokudai\Hakodate\Muroran

文字列の**`split`メソッド**を使うと、文字列の区切り文字を指定できます。

引数に文字列を分割する際の区切り文字を指定します。  
省略した場合は**空白**で文字列を分割します。

In [24]:
filename = "sample.py"
print(filename.split(".")[0])  # "."の左側の文字列を出力
print(filename.split(".")[1])  # "."の右側の文字列を出力

sample
py

**`re.split()`**を用いることで、複数条件で文字列を分割することが出来ます

In [25]:
import re

filename = "PythonBasic_4.ipynb"
print(re.split('[_.]', filename)[0])  # "_"の左側の文字列を出力
print(re.split('[_.]', filename)[1])  # "_"の右側の文字列を出力
print(re.split('[_.]', filename)[2])  # "."の右側の文字列を出力

PythonBasic
4
ipynb

### 要素の変更

リスト内の特定の要素の内容は変更できます。    

![pp_03_11.png]()

以下のコードは、リストの2番目の要素を変更するプログラムです。

In [26]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']
university[2] = "Kitami"
print(university)

['Chitose', 'Hokudai', 'Kitami', 'Muroran']

### リストの要素のスライス

リストで要素を指定する際、**スライス**という構文を用いることで、連続した範囲にある要素を参照することができます。   

![pp_01_3.png]()  
※Aは**開始値**。`A:`と指定すると添え字がA以上のすべての要素を参照する  
※Bは**終了値**。`:B`と指定すると添え字がB未満のすべての要素を参照する  
※Cは**増減値**。`A:B`と指定すると増減値は「+1」となる  
※`:`とだけ指定すると、すべての要素を参照する

In [27]:
a = [10,20,30,40,50,60,70,80,90,100]

print(a[1:3])  # 添え字が1以上3未満の要素
print(a[2:])  # 添え字が2以上の全ての要素
print(a[:3])  # 添え字が未満の全ての要素
print(a[:])  # 全ての要素
print(a[::2])  # 2つ飛ばし

[20, 30]
[30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 30, 50, 70, 90]

増減値を負の数にすると、逆順にして取り出すことができます。

In [28]:
# 逆順にして取り出す
print(a[::-1])

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

### in演算子
listオブジェクトに対して使うこともできます。

|比較演算子|使い方|説明|
|:---:| :---: | :---: |
|in|a  in b|aはbに含まれる|
|not in|a not in b|aがbに含まれていない|

In [29]:
university = ['Chitose', 'Hokudai', 'Hakodate', 'Muroran']

# 文字列"Hokudai"がリスト内に入っているかどうか
print("Hokudai" in university)
# 文字列"Hokudai"がリスト内に入っていないかどうか
print("Hokudai" not in university)

# 文字列"Kitami"がリスト内に入っているかどうか
print("Kitami" in university)
# 文字列"Kitami"がリスト内に入っていないかどうか
print("Kitami" not in university)

True
False
False
True

### リストの内包表記
反復処理をシンプルに記述する方法を**内包表記**といいます。

In [30]:
# 内包表記を使ったプログラム
s = [i for i in range(10)]
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# append()を使ったプログラム
s = []
for i in range(10) :
    s.append(i)
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

反復処理を`append()`を用いた時よりシンプルに表記できました。

`range`を用いずにリストを使って反復処理を行うこともできます。

In [32]:
s = [i for i in range(10)] # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

s1 = [i*i for i in s]

# iの2乗の値を格納
print(s1)

s2 = [i*i for i in s if i%2==0]  # 条件追加  

# iを2で割った時の余りが0のとき、iの2乗の値を格納
print(s2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

### 二次元リスト

リストの中にリストを入れた構造は、**2次元リスト**と呼ばれます。  
表の構造を持つデータ管理などに使われます。

In [33]:
number = [
    ["Ouka",80,75],   # 0行目
    ["Denshi",83,99],   # 1行目
    ["Josisu",90,94],   # 2行目
]

"""
最後の要素の後に追加したい時もあるので、  
リストの最後の要素の後に「,」はつけることが多いようです
"""

print(number)  # リストnumber全体を参照
print(number[0])  # リストnumberの0番目だけを参照
print(f"{number[1][0]}の2022年の人数は{number[1][2]}人です")  # リストnumberの1番目だけを参照

[['Ouka', 80, 75], ['Denshi', 83, 99], ['Josisu', 90, 94]]
['Ouka', 80, 75]
Denshiの2022年の人数は99人です

## タプル

**タプル** (tuple)とは、リストとほぼ同じ特徴を持つコレクションです。  
唯一、「要素の追加・変更・削除」ができないという点だけが異なります。    

非常によく似ているリストとタプルは、**シーケンス**と総称されることもあります。  
書き換える可能性を考えてリストとタプルの使いどころを考えましょう。

**「タプルで宣言したデータは処理速度がリストより速い」**という点が、  
タプルを使う大きなメリットです。

### タプルの作成
タプルは、複数の要素を**,**（**カンマ**）で区切って**()**で囲んで定義します。   

![pp_03_13.png]()

実際にタプルを利用してみましょう。

In [34]:
ninzuu = (75,99,94)  # タプルの作成
print(ninzuu[0])  # タプルの要素を添え字で指定
print(f"合計人数は{sum(ninzuu)}人です")  # タプルの合計
print(f"平均人数は{sum(ninzuu)/len(ninzuu)}人です")  # タプルの要素数

75
合計人数は268人です
平均人数は89.33333333333333人です

In [35]:
# 要素を変更しようとするとエラーが出ます
ninzuu[0] = 80
ninzuu[1] = 83
ninzuu[2] = 90

TypeError: ignored

タプルで要素数が1となるデータを扱う際は注意が必要です。   
要素数1のタプルを生成するには、タプル定義に記述する値の後ろに**カンマ**をつけます。  

![pp_03_14.png]()

In [36]:
universe1 = ["Chitose"]
universe2 = ("Chitose")
universe3 = ("Chitose",)
print(type(universe1))  # リスト型になる
print(type(universe2))  # 文字型になる
print(type(universe3))  # タプル型になる

<class 'list'>
<class 'str'>
<class 'tuple'>

### タプル型のメソッド

リストと同じメソッドを使えることが多いです。  
（要素が変更できないので、要素の追加や削除などはできませんが）

[こちら](https://www.javadrive.jp/python/tuple/)のページには紹介していないメソッドもあります。

### パックとアンパック

タプルの複数の要素を1つにまとめることを**パック**といいます。  
また、タプルを展開して複数の変数に1要素ずつ渡すことを**アンパック**といいます。

以下のコードは、実際にパックとアンパックを行うプログラムです。

In [37]:
# ①
t = ("Chitose",75,99,94)

# ②
name,Ouka,Denshi,Josisu = t

# ③
print(f"名前は{name}です")
print(f"応用化学生物学科は{Ouka}人です")
print(f"電子光工学科は{Denshi}人です")
print(f"情報システム工学科は{Josisu}人です")

名前はChitoseです
応用化学生物学科は75人です
電子光工学科は99人です
情報システム工学科は94人です

①タプルのパックを行っている。4つの要素を1つにまとめて、タプル`t`に格納している。  
②タプルのアンパックを行っている。4つの変数に4つの要素を1つずつ渡している。  
③変数を出力している。

タプルのアンパックを行うときには、**変数と代入する値の数が一致している**必要があります。